.total {
	position: relative;
	max-width: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: auto;
	height: 24px;
	font-size: 12px;
	line-height: 16px;
	color: #550dc9;
	background: #fef6ff;
	border-radius: 4px;
}
