.header {
	position: relative;
	display: grid;
	grid-template: 64px / 54px  1fr 160px;
	align-items: center;
	gap: 10px;
	
	&::after {
		content: "";
		position: absolute;
		display: inline-block;
		left: 0;
		bottom: 0;
		height: 0.01px;
		width: 100vw;
		box-shadow: 0px 2px 2px 1px rgba(34, 60, 80, 0.2);
	}
}	